/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/clock/rk3588-cru.h>
#include <dt-bindings/power/rk3588-power.h>
/ {
	fragment@0 {
		target-path = "/";
		__overlay__ {
			vcc_mipidphy0: vcc-mipi-dphy0 {
				compatible = "regulator-fixed";
				regulator-name = "vcc_mipidphy0";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				gpios = <&gpio1 RK_PA6 GPIO_ACTIVE_HIGH>;
				regulator-always-on;
				regulator-boot-on;
				enable-active-high;
				vin-supply = <&vcc_3v3_s3>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};

	fragment@1 {
		target = <&i2c8>;
		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&i2c8m2_xfer>;
			imx219: imx219@10 {
				compatible = "sony,imx219";
				status = "okay";
				reg = <0x10>;
				#address-cells = <1>;
            	#size-cells = <0>;
				clocks = <&cru CLK_MIPI_CAMARAOUT_M0>;
				clock-names = "xvclk";
				pinctrl-names = "default";
				pinctrl-0 = <&cam_clkout0>;
				VANA-supply = <&vcc_3v3_s0>;   /* 2.8v */
				VDIG-supply = <&vcc_3v3_s0>;   /* 1.8v */
				VDDL-supply = <&vcc_3v3_s0>;   /* 1.2v */
				power-domains = <&power RK3588_PD_VI>;
				avdd-supply = <&vcc_mipidphy0>;
				rockchip,camera-module-index = <1>;//<0>
				rockchip,camera-module-facing =  "front";//"back";
				rockchip,camera-module-name = "GEIR180089";
				rockchip,camera-module-lens-name = "LG500627G";
				port {
					imx219_out: endpoint {
						remote-endpoint = <&mipidphy0_in_ucam2>;
						data-lanes = <1 2>;
						clock-noncontinuous;
						link-frequencies = /bits/ 64 <456000000>;
					};
				};
			};
		};
	};

	fragment@2 {
		target = <&csi2_dphy0_hw>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&csi2_dphy0>;
		__overlay__ {
			status = "okay";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					#address-cells = <1>;
					#size-cells = <0>;
					
					mipidphy0_in_ucam2: endpoint@3 {
						reg = <3>;
						remote-endpoint = <&imx219_out>;
						data-lanes = <1 2>;
					};
				};
				port@1 {
					reg = <1>;
					#address-cells = <1>;
					#size-cells = <0>;

					csidphy0_out: endpoint@0 {
						reg = <0>;
						remote-endpoint = <&mipi2_csi2_input>;
					};
				};
			};
		};
	};

	fragment@4 {
		target = <&mipi2_csi2>;
		__overlay__ {
			status = "okay";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					#address-cells = <1>;
					#size-cells = <0>;

					mipi2_csi2_input: endpoint@1 {
						reg = <1>;
						remote-endpoint = <&csidphy0_out>;
					};
				};

				port@1 {
					reg = <1>;
					#address-cells = <1>;
					#size-cells = <0>;

					mipi2_csi2_output: endpoint@0 {
						reg = <0>;
						remote-endpoint = <&cif_mipi2_in0>;
					};
				};
			};
		};
	};

	fragment@5 {
		target = <&rkcif>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&rkcif_mipi_lvds2>;
		__overlay__ {
			status = "okay";

			port {
				cif_mipi2_in0: endpoint {
					remote-endpoint = <&mipi2_csi2_output>;
				};
			};
		};
	};

	fragment@7 {
		target = <&rkcif_mipi_lvds2_sditf>;
		__overlay__ {
			status = "okay";

			port {
				mipi_lvds2_sditf: endpoint {
					remote-endpoint = <&isp0_vir0>;
				};
			};
		};
	};

	fragment@8 {
		target = <&rkcif_mmu>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@9 {
		target = <&rkisp0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@10 {
		target = <&isp0_mmu>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@11 {
		target = <&rkisp0_vir0>;
		__overlay__ {
			status = "okay";

			port {
				#address-cells = <1>;
				#size-cells = <0>;

				isp0_vir0: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&mipi_lvds2_sditf>;
				};
			};
		};
	};

	fragment@12 {
		target = <&pinctrl>;
		__overlay__ {
			cam {
				cam_clkout0: cam-clkout0 {
					rockchip,pins = <1 RK_PB6 1 &pcfg_pull_none>;
				};
			};
		};
	};
};
